@import url("fonts/walsheim/stylesheet.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #ecf9ff;
}

body {
  color: black;
  font-family: GT Walsheim Pro, helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffafa;
  text-size-adjust: 100%;
  margin: 0;
}
